@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.home-products {
    padding-top: 60px;

    h3 {
        color: white;
    }
    .product-card {
        h3 a {
            color: #fff !important;
        }

        .product-price {
            font-size: 16px;
            color: #fff;
        }
    }
}