.window {
    position: fixed;
    background: #00000055;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.form h2 {
    color: #C8A180;
}

.form {
    max-width: 400px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    color: #313131;
}


.form button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    transition: .35s;
    border-radius: 5px;
    background: rgb(217, 183, 154);
}

form .closeBtn,
.closeX {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: #040404;
    padding: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

@media (max-width: 430px) {

    .form div {
        width: 280px;
        gap: 5px;
    }

    .form .closeX {
        width: 25px;
    }
}