@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.sale-content {
    background-color: #f0f0f0;
    background-image: url(https://images.samsung.com/ru/galaxy-buds3-pro/feature/galaxy-buds3-pro-kv-pc.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 293px;
    @include flexCenter;

    @media(max-width: 767px) {
        height: 234px;
    }

    .sale-title {
        gap: 8px;
        width: 80%;

        @media(max-width: 767px) {
            align-items: center;
        }

        h2 {
            color: #a71052;
        }

        h3 {
            color: $main-color;
        }
    }
}