@import 'rsuite/dist/rsuite.min.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 30px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navbar a {
  padding: 8px 30px;
  color: #ab15cd;
  background-color: transparent;
  border: 2px solid#ab15cd;
  font-size: 15px;
  font-weight: 600;
  width: fit-content;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}

.navbar a:hover {
  font-weight: 600;
  text-decoration: none;
  color: white;
  color: #ab15cd;
}

.navbar .active {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  background: #ab15cd;
  border-radius: 5px;
  text-decoration: none;
}

.navbar a:hover::after {
  position: absolute;
  top: 30px;
  content: '';
  height: 3px;
  border-radius: 5px;
  left: 10%;
  width: 80%;
  background: #ab15cd;
}

.navbar .active:hover {
  transform: none;
  background: #ab15cd;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}

.navbar .active:hover::after {
  display: none;
}

.content {
  margin-bottom: 20px;
  padding-bottom: 40px;
}